body{
    width: 1450px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*Section Header Start*/

.section-header{
    margin-bottom: 120px;

}
.header-area{
    background-image: url(images/background-1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;


}
.header-text{
    padding-top: 150px;
    text-align: center;
    color: white;
}
.header-text h1{
    font-size: 45px;
    font-weight: 700;
}
.header-text p{
    margin-bottom: 30px;
}
.Home-Button{
    padding: 10px 20px;
    background-color:orangered ;
    border-radius: 5px;
    text-decoration: none;
}

/*Section Header End*/



/*Section Donate Today Start*/



.donate-text{
    text-align: center;
}
.donate-text h1{
    font-size: 30px;
    font-weight: bold;
}
.donate-text p{
    color: gray;
}

.donate-amount{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}
.donate-box{
    padding-top: 20px;
    margin-left: 20px ;
    width: 100px;
    height: 80px;
    text-align: center;
    background-color: rgba(0, 0, 0, .03);
}
.donate-ok{
    padding-top: 20px;
    margin-left: 20px ;
    width: 100px;
    height: 80px;
    text-align: center;
    background-color: rgba(247, 7, 7, 0.113);
    color: red;
    border: 1px solid red;
}

.donate-other{
    text-align: center;
    margin-bottom: 150px;
}
.donate-other p{
    color: gray;
}
.other-boder{
    width: 600px;
    margin-bottom: 30px;
    color: rgba(126, 123, 123, 0.001);
}

/*Section Donate Today End*/



/*Section Our Donate Plan Start*/


