body{
    width: 1450px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*Section Header Start*/

.section-header{
    margin-bottom: 120px;

}
.header-area{
    background-image: url(images/background-1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;


}
.header-text{
    padding-top: 150px;
    text-align: center;
    color: white;
}
.header-text h1{
    font-size: 45px;
    font-weight: 700;
}
.header-text p{
    margin-bottom: 20px;
}
.Home-Button{
    padding: 10px 20px;
    background-color:orangered ;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

/*Section Header End*/



/*Section Donate Today Start*/

.donate-text{
    text-align: center;
}
.donate-text h1{
    font-size: 30px;
    font-weight: bold;
}
.donate-text p{
    color: gray;
}

.donate-amount{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}
.donate-box{
    padding-top: 20px;
    margin-left: 20px ;
    width: 100px;
    height: 80px;
    text-align: center;
    background-color: rgba(0, 0, 0, .03);
}
.donate-ok{
    padding-top: 20px;
    margin-left: 20px ;
    width: 100px;
    height: 80px;
    text-align: center;
    background-color: rgba(247, 7, 7, 0.113);
    color: red;
    border: 1px solid red;
}

.donate-other{
    text-align: center;
    margin-bottom: 150px;
}
.donate-other p{
    color: gray;
    font-size: 14px;
}
.other-boder{
    width: 600px;
    margin-bottom: 30px;
    color: rgba(126, 123, 123, 0.001);
}

/*Section Donate Today End*/



/*Section Our Donate Plan Start*/


.donate-plan-text{
    text-align: center;
}
.donate-plan-text h1{
    font-size: 30px;
    font-size: bold;
}
.donate-plan-text p{
    color: gray;
    margin-bottom: 50px;
}
.card-all{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.card{
width: 20%;
height: 235px;
padding-top: 50px;
padding-left: 20px;
margin-left: 20px ;
text-align:left;


}
.card-1{
background-color: rgba(116, 231, 193, 0.167);
}
.card-2{
    background-color: rgba(190, 164, 135, 0.14);
}
.card-3{
    background-color: rgba(244, 213, 11, 0.293);
}

.card-text p{
    color: gray;
    font-size: 13px;
}

/*Section Our Donate Plan End*/


/*Section lives depend Start*/

.lives-depend{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
.lives-depend-text{
    width: 35%;
}
.lives-depend-text h1{
   font-size: 30px;
   font-weight: bold;
}
.lives-depend-text p{
 color: gray;
 margin-bottom: 50px;
 }
.lives-depend-img img{
    width:400px;
    height: 500px;
    margin-left: 80px;
}
/*Section lives depend End*/


/*Section need us Start*/
.need-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
.need-us-img img{
    width:450px;
    height: 500px;
    margin-left: 10px;
    margin-right: 80px;
}
.need-us-text{
    width: 35%;

}
.need-us-text h1{
    font-size: 30px;
   font-weight: bold;
}
.need-us-text p{
    color: gray;
    margin-bottom: 50px;

}

/*Section need us End*/


/*Section Updates Start*/


.updates-text{
    text-align: center;
    margin-bottom: 50px;

}
.updates-text h1{
    font-size: 30px;
    font-weight: bold;
}
.updates-text p{
    color: gray;
}
.form-area{
    background-color: rgba(244, 213, 11, 0.293);
    width: 650px;
    height: 150px;
    margin-left: 30%;
    margin-bottom: 100px;
    
}

form{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
form a{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 3%;
}
 
form input{
    padding: 10px 35px;
   background-color: rgba(213, 205, 205, 0.713);
}


/*Section Updates end*/

/*Section footer Start*/
.footer-aera{
    background-color: black;
    height: 120px;
}


.footer-text{
 text-align: center;   
}
.footer-text h1{
    font-family: 'Lobster', cursive;
    padding-top: 35px;
    color: red;
    font-size: 28px;
    font-weight: bold;
}
.footer-text p{
    color: white;
    font-size: 10px;
    padding-bottom: 10px;
}


/*Section footer End*/